
@media only screen and (min-resolution: 2dppx) {

html
{ font-size: 2rem }

}

*
{ box-sizing: border-box }

body
{ justify-content: space-between
; flex-direction: column
; height: 100vh
; margin: 0
; font-family: "Open Sans", sans-serif
; background-color: #524743
; color: #B4A29B
}

header
{ position: relative
}

header, nav, footer
{ width: 100%
}

header > select,
header > input[type="text"]
{ font-size: 2.5rem
; font-weight: bold
; padding: 1rem
; background-color: #2C3135
; border: none
; border-bottom: 0.25rem solid #151B1F
; color: #E3E7F2
; text-shadow: 0.1rem 0.1rem 0.1rem #656D74
             , 0.1rem 0.1rem 0.1rem #656D74
}

header > select:hover
{ background-color: #151B1F
}

header > select,
input[type="button"]
{ cursor: pointer
}

header > input[type="button"]
{ min-width: 4rem
; font-size: 2rem
; background-color: #2E3834
; border: none
; border-bottom: 0.25rem solid #16211D
; color: #E3E7F2
}

header > input[type="button"]:hover
{ background-color: #16211D
}

input[type="button"], select
{ transition: all 0.3s ease-in-out
}

input[type="button"]:hover, select:hover
{ transition: all 0.2s ease-in-out
}

header > input[type="text"]
{ position: absolute
; top: 0
; left: 0
; width: 100%
; height: 100%
; display: none
}

body,
header,
nav,
nav > aside,
nav > section,
nav > section > time,
summary,
footer
{ display: flex
}

aside,
section,
time
{ justify-content: center
}

nav,
nav > aside,
nav > section
{ flex-wrap: wrap
}

header > select,
nav > aside,
nav > section,
time,
nav input[type="button"]
{ flex-grow: 1
}

header,
nav,
footer
{ flex-shrink: 0
}

time,
nav input[type="button"]
{ font-size: 2rem
; padding: 1rem 5rem
; min-width: 16rem
; max-width: 50vw
; height: 5rem
; margin: 0.5rem
; border: none
; position: relative
; text-transform: uppercase
; font-weight: bold
}

nav input[type="button"]
{ background-color: #f8e4e8
; border-radius: 0.1rem
; border-color: #e4d2cb
; border-width: 0.1rem
; border-style: solid
; border-bottom: 0.3rem solid #e8d4d8
; color: #16231D
; text-shadow: 0.1rem 0.1rem 0.1rem #f8f8f8
}

nav input[type="button"]:hover
{ background-color: #B5A39C
; border-color: #867670
; border-bottom: 0.3rem solid #A5938C
; text-shadow: 0.1rem 0.1rem 0.1rem #b8b8b8
}

time, time > input
{ background-color: #322621
; border-radius: 0.1rem
; border-color: #423332
; border-width: 0.1rem
; border-style: solid
; border-bottom: 0.3rem solid #221611
; color: #E3E7F2
}

time::before
{ content: attr(data-key)
; font-size: 1rem
; font-weight: 300
; text-transform: uppercase
; padding: 0 0.5rem
; vertical-align: top
; opacity: 0.5
; position: absolute
; top: 0
; left: 0
; margin: 0.5rem
}

time > span
{ position: absolute
; width: 0%
; border-bottom: 0.2rem solid #6A7C74
; bottom: 0
; left: 0
; transition: width 1s linear
}

time > input
{ position: absolute
; top: 0
; left: 0
; width: 100%
; height: 100%
; font-size: 2rem
; padding: 1rem 5rem
; text-transform: uppercase
; font-weight: bold
; text-align: center
; opacity: 0
}

time > input:focus
{ opacity: 1 }

.hidden
{ display: none
}

.faded
{ opacity: 0.5
}

summary
{ flex-direction: row
}

summary > figure
{ background-color: black
}

summary > figure[data-meta="ratio"]::before
{ content: "%"
; padding: 0.5rem
}
summary > figure[data-meta="ratio"]::after
{ content: "g beans / 240g water"
}

footer
{ opacity: 0.5
; background-color: #2C3135
; color: #E3E7F2
; width: 100%
; padding: 0.5rem
; justify-content: flex-end
}

